{% extends "base.html" %}
{% block body %}
    <p>
    <h1>{{title}}</h1>
    <h2>Query RareFan results</h2>
    </p>
        <form action="{{url_for('results') }}" method="post" enctype="multipart/form-data">
        <p>
            {{ results_form.run_id.label }}
            {{ results_form.run_id(title="Enter your run ID.") }}
            {{ results_form.go(title=results_form.go.description) }}
        </p>
        </form>
{% endblock %}
